.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-align-start {
  align-self: flex-start;
}

.flex-align-center {
  align-self: center;
}

.flex-align-end {
  align-self: flex-end;
}
