// global
@import "../styles/flexbox.scss";
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

$base-color: #00cdcd;
$base-white: #fff;

h1 {
  font-family: "Balsamiq Sans";
  font-weight: 600;
}

.container {
  padding-left: 15%;
  padding-right: 15%;
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */

  padding: 1em;
  border: solid;
}

@media (min-width: 1200px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}
