@import "../styles/queries.scss";
@import "../styles/flexbox.scss";
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$base-color: #00cdcd;
$base-color-offset: #f2ce5f;
$base-white: #fff;

$danger: #dc3545;
$success: #28a745;
$primary: #007bff;
$info: #17a2b8;
$warning: #ffc107;
$dark: #343a40;
$seconday: #6c757d;
$light: #f8f9fa;

@media screen and (max-width: 992px) {
}

h1 {
  font-family: "Balsamiq Sans";
  font-weight: 600;
}

h2 {
  margin: 0;
}

p {
  font-family: "Lato", sans-serif;
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */

  padding: 1em;
  border: solid;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBack {
  0% {
    transform: translateZ(100);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
