// global
@import "../styles/flexbox.scss";
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$base-color: #00cdcd;
$base-color-offset: #f2ce5f;
$base-white: #fff;

$danger: #dc3545;
$success: #28a745;
$primary: #007bff;
$info: #17a2b8;
$warning: #ffc107;
$dark: #343a40;
$seconday: #6c757d;
$light: #f8f9fa;

h1 {
  font-family: "Balsamiq Sans";
  font-weight: 600;
}

p {
  font-family: "Lato", sans-serif;
}

.container {
  padding-left: 15%;
  padding-right: 15%;
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */

  padding: 1em;
  border: solid;
}

@media (min-width: 1200px) {
  .container {
    padding-left: 10%;
    padding-right: 10%;
  }
}
