<div class="container" id="features">
  <div class="wrapper">
    <div class="top-text">
      <h1>Main <span>Features</span></h1>
      <p>
        Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor coli incidit labore lorem ipsum amet madolor sit amet.
      </p>
    </div>
    <div class="row">
      <div class="col-left">
        <div class="feature-box">
          <h3>Lorem ipsum</h3>
          <p>Our system is a comprehensive system of applied creativity.</p>
        </div>

        <div class="feature-box">
          <h3>Lorem ipsum</h3>
          <p>Our system is a comprehensive system of applied creativity.</p>
        </div>

        <div class="feature-box">
          <h3>Lorem ipsum</h3>
          <p>Our system is a comprehensive system of applied creativity.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-mid">
          <div class="circle-svg" data-aos="zoom-in" data-aos-delay="400">
            <img class="circle" src="../../assets/img/drawing.svg" />
          </div>
          <div data-aos="fade-up" data-aos-delay="200">
            <img class="feature-image" src="../../assets/img/mobil-1.png" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-right">
          <div class="feature-box">
            <h3>Lorem ipsum</h3>
            <p>Our system is a comprehensive system of applied creativity.</p>
          </div>

          <div class="feature-box">
            <h3>Lorem ipsum</h3>
            <p>Our system is a comprehensive system of applied creativity.</p>
          </div>

          <div class="feature-box">
            <h3>Lorem ipsum</h3>
            <p>Our system is a comprehensive system of applied creativity.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
