<div class="container">
  <div class="wrapper">
    <div class="top-text">
      <h1>Main <span>Features</span></h1>
      <p>
        Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
        eiusmod tempor coli incidit labore lorem ipsum amet madolor sit amet.
      </p>
    </div>
    <div class="row">
      <div class="col-left">
        <h1>Test</h1>
      </div>
      <div class="col-mid features-circle">
        <div class="circle-svg" data-aos="zoom-in" data-aos-delay="400">
          <svg
            version="1.1"
            id="features_circle"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            width="543px"
            height="542.953px"
            viewBox="0 0 543 542.953"
            enable-background="new 0 0 543 542.953"
            xml:space="preserve"
          >
            <g>
              <circle
                fill="none"
                stroke="#"
                stroke-width="3"
                stroke-miterlimit="10"
                stroke-dasharray="11.9474,11.9474"
                cx="271.5"
                cy="271.516"
                r="270"
              />
              <animateTransform
                attributeName="transform"
                type="rotate"
                from="0"
                to="360"
                dur="50s"
                repeatCount="indefinite"
              ></animateTransform>
            </g>
          </svg>
        </div>
        <img
          src="../../assets/img/mobil-1.png"
          data-aos="fade-up"
          data-aos-delay="200"
        />
      </div>
      <div class="col-right">
        <h1>Test</h1>
      </div>
    </div>
  </div>
</div>
