<div class="container">
  <section class="box-section">
    <div class="firstSection">
      <div class="box-icon">
        <fa-icon
          [icon]="faMagic"
          size="4x"
          flip="horizontal"
          class="icon"
        ></fa-icon>
      </div>
      <div class="title-wrapper">
        <h1>Test</h1>
      </div>
      <div class="text-wrapper">
        <p>
          Proactively syndicate open-source e-markets after low-risk high-yield
          synergy.
        </p>
      </div>
    </div>
    <div class="secondSection">
      <div class="box-icon">
        <fa-icon [icon]="faRocket" size="4x" class="icon"></fa-icon>
      </div>
      <div class="title-wrapper">
        <h1>Test</h1>
      </div>
      <div class="text-wrapper">
        <p>
          Proactively syndicate open-source e-markets after low-risk high-yield
          synergy.
        </p>
      </div>
    </div>
    <div class="thirdSection">
      <div class="box-icon">
        <fa-icon [icon]="faGem" size="4x" class="icon"></fa-icon>
      </div>
      <div class="title-wrapper">
        <h1>Test</h1>
      </div>
      <div class="text-wrapper">
        <p>
          Proactively syndicate open-source e-markets after low-risk high-yield
          synergy.
        </p>
      </div>
    </div>
  </section>
</div>
