@import "../../assets/styles/global.scss";

.navbar {
  background-color: #00cdcd;
  max-height: 64px;
  min-height: 64px;
  padding-top: 10px;
}

.navbar-brand {
  height: 100%;
  align-content: center;
}

.knitli-logo {
  color: $base-white;
  height: 50px;
}

.flex-container {
  display: flex;
  align-items: center;
}

.logo-wrapper {
  width: 100%;
  align-content: flex-start;
  justify-content: flex-start;
}
.logo {
  height: 50px;
  width: 50px;
}

.logo-text-wrapper {
  align-self: baseline;
  text-align: center;
  padding-left: 10px;
  color: $base-white;
  font-family: "Balsamiq Sans";
  font-weight: 600;
  font-size: x-large;
}

.menu-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
