<header class="knitli-header">
  <nav class="navbar navbar-expand-lg navbar-light" id="knitli_menu">
    <div class="container">
      <div class="flex-container">
        <div class="logo-wrapper">
          <img
            [src]="'assets/img/knitli-light-logo.png'"
            alt="logo"
            class="logo"
          />
          <span class="logo-text-wrapper">Knitli</span>
        </div>
        <div class="menu-wrapper">
          <a href="#">Home</a>
        </div>
      </div>
    </div>
  </nav>
</header>
