<div class="dropdown-container" (click)="expandDropdown()">
  <ng-container *ngIf="image">
    <ng-content class="dropdown-img" select="img"> </ng-content>
  </ng-container>
  <h3 class="dropdown-title">{{ title }}</h3>
  <ng-container *ngIf="!dropdownExpanded; else Expanded">
    <i class="fa-solid fa-caret-down dropdown-chevron"></i>
  </ng-container>
  <ng-template #Expanded>
    <i class="fa-solid fa-caret-up dropdown-chevron"></i>
  </ng-template>
</div>
<ng-container *ngIf="dropdownExpanded">
  <div class="dropdown-content">
    <div class="dropdown-item">
      <span class="dropdown-item-icon">MP</span>
      <span class="dropdown-item-title">My Profile</span>
    </div>
    <div class="dropdown-item">
      <span class="dropdown-item-icon">EP</span>
      <span class="dropdown-item-title">Edit Profile</span>
    </div>
    <div class="dropdown-item">
      <span class="dropdown-item-icon">S </span>
      <span class="dropdown-item-title">Settings</span>
    </div>
  </div>
</ng-container>
<div class="spanner"></div>
