<header class="knitli-header">
    <nav class="navbar navbar-expand-lg navbar-light" id="knitli_menu">
      <div class="container">
        <div class="flex-container">
          <div class="logo-wrapper">
            <div class="row">
              <img
                [src]="'assets/img/knitli-light-logo.png'"
                alt="logo"
                class="logo"
              />
              <div class="logo-text-wrapper">Knitli</div>
            </div>
          </div>
          <div class="menu-wrapper">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Features</a>
            <a href="#">Screenshots</a>
            <a href="#">Team</a>
            <a href="#">News</a>
            <a href="#">Contact</a>
          </div>
        </div>
      </div>
    </nav>
  </header>