@import "../../../assets/styles/global.scss";

a {
  text-decoration: inherit;
  color: $base-white;
  font-size: 15px;
}
.flex-container {
  display: flex;
  align-items: center;
}

.knitli-header {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $base-color;
}

.navbar {
  background-color: #00cdcd;
  max-height: 64px;
  min-height: 64px;
  width: 100%;
}

.sticky {
  position: sticky;
  z-index: 10;
}

.navbar-brand {
  height: 100%;
}

.navbar a:last-child {
  width: 40px;
  border: 2px solid white;
  border-radius: 10%;
  text-align: center;
  padding: 10px;
}

.hiddenMenuWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $base-color;
  margin-right: 10px;
  text-align: end;
}

fa-icon {
  transition: 0.3s;
}

.menu-icon {
  font-size: 200%;
}

.knitli-logo {
  color: $base-white;
  height: 50px;
}

.logo-wrapper {
  width: 100%;
  align-content: flex-start;
  justify-content: flex-start;
}
.logo {
  height: 50px;
  width: 50px;
}

.logo-text-wrapper {
  padding-left: 10px;
  line-height: 50px;
  color: $base-white;
  font-family: "Balsamiq Sans";
  font-weight: 600;
  font-size: xx-large;
}

.menu-wrapper {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
