<div>
  <!-- <label for="price" class="block text-m font-medium text-gray-700"
    >Price</label
  > -->
  <div class="input-field mt-1 relative rounded-md shadow-md p-1">
    <div
      class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
    >
      <span class="text-gray-500 lg:text-lg">
        <ng-content select="[icon]"> </ng-content>
      </span>
    </div>
    <input
      type="{{ this.inputType }}"
      name="{{ this.inputId }}"
      id="{{ this.inputId }}"
      class="w-full pl-12 pr-12 lg:text-lg border-gray-300 rounded-md"
      placeholder="{{ this.inputName }}"
    />
    <!-- <div class="absolute inset-y-0 right-0 flex items-center">
      <label for="currency" class="sr-only">Currency</label>
      <select
        id="currency"
        name="currency"
        class="focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 m:text-m rounded-md"
      >
        <option>USD</option>
        <option>CAD</option>
        <option>EUR</option>
      </select>
    </div> -->
  </div>
</div>
