@import "./colors.scss";

.btn {
  display: flex;
  text-transform: uppercase;
  border-radius: 3px;
  color: $white;
  padding: 11px 15px;
  transition: all 150ms linear;
  background-color: $btn-default;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 0.7371em;
  border-width: 2px;
  line-height: 1.35em;
  border: none;

  &.btn-primary {
    background-color: $btn-primary;
  }
  &.btn-info {
    background-color: $btn-info;
  }
  &.btn-success {
    background-color: $btn-success;
  }
  &.btn-warning {
    background-color: $btn-warning;
  }
  &.btn-danger {
    background-color: $btn-danger;
  }
  &.btn-sm {
    padding: 5px 7px;
    line-height: 1em;
    height: 60%;
  }
  &.btn-lg {
    font-size: 1rem;
    border-radius: 6px;
    padding: 15px 48px;
  }
  &.btn-round {
    border-width: 1px;
    border-radius: 30px;
    padding-left: 23px;
    padding-right: 23px;
  }
  &.btn-icon {
    justify-content: center;
    align-items: center;
    padding: 0;
    line-height: normal;
    height: 2.375rem;
    width: 2.375rem;
    position: relative;
    font-size: 0.9375rem;
    overflow: hidden;
    min-width: 2.375rem;
  }
  &.btn-link {
    background: 0 0;
    color: $btn-primary;
  }
  &.btn-link:hover {
    background-color: $btn-primary;
    color: $white;
  }

  &.btn-outline {
    background: 0 0;
    color: $btn-default;
    border: 2px solid $btn-default;
    opacity: 1;
  }
  &.btn-outline-primary {
    background: 0 0;
    color: $btn-primary;
    border: 2px solid $btn-primary;
    opacity: 1;
  }
  &.btn-outline-info {
    background: 0 0;
    color: $btn-info;
    border: 2px solid $btn-info;
    opacity: 1;
  }
  &.btn-outline-success {
    background: 0 0;
    color: $btn-success;
    border: 2px solid $btn-success;
    opacity: 1;
  }
  &.btn-outline-warning {
    background: 0 0;
    color: $btn-warning;
    border: 2px solid $btn-warning;
    opacity: 1;
  }
  &.btn-outline-danger {
    background: 0 0;
    color: $btn-danger;
    border: 2px solid $btn-danger;
    opacity: 1;
  }
  &.btn-outline-danger:hover {
    background-color: $btn-danger;
    color: $white;
  }
  &.btn-outline-warning:hover {
    background-color: $btn-warning;
    color: $white;
  }
  &.btn-outline-success:hover {
    background-color: $btn-success;
    color: $white;
  }
  &.btn-outline-info:hover {
    background-color: $btn-info;
    color: $white;
  }
  &.btn-outline-primary:hover {
    background-color: $btn-primary;
    color: $white;
  }
  &.btn-outline:hover {
    background-color: $btn-default;
    color: $white;
  }
}
.btn-group {
  display: flex;
}
.btn-group-item:first-child {
  border-right: 0px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group-item:last-child {
  border-left: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.botton-wrapper {
  display: flex;
  gap: 15px;
}
