@import "./colors.scss";

.card-header {
  padding: 15px 0px;
  display: flex;
  height: 100%;
  gap: 20px;
  justify-content: stretch;
  height: 90%;
}

.card-item {
  width: 100%;
  flex-grow: 1;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  background-color: $white;
  border-radius: 10px;
  padding: 15px;
  &.no-shadow {
    box-shadow: none;
  }
}

.card-buttons {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding-bottom: 10px;
}
