$paper-background: #f4f3ef;
$white: #ffffff;
$container-background: $white;
$sidebar-color: #66615b;

$btn-default: #66615b;
$btn-primary: #34b5b8;
$btn-info: #2ba9cd;
$btn-success: #44c47d;
$btn-warning: #fab526;
$btn-danger: #eb6532;

$text-gray: #b3b0ad;
$text-default: #ffffff;
$text-blue: #51cbce;
