@import "./colors.scss";
@import "./cards.scss";
@import "./buttons.scss";
@import "./sidebar.scss";
@import "./dropdown.scss";
@import "./header.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  background-color: $paper-background;
  font-family: "Lato", sans-serif;
}
.pt-4 {
  padding-top: 25px;
}
.pt-5 {
  padding-top: 35px;
}

.wrapper {
  margin: 30px;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 260px);
  background-color: #f4f3ef;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.container {
  padding: 15px;
  background-color: $container-background;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  object-fit: contain;
}

.no-shadow {
  box-shadow: 0;
}
