.header {
  background-color: transparent !important;
  box-shadow: none;
  // border-bottom: 1px solid #ddd;
  display: flex;
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-left: 35px;
  z-index: 1029;
  min-height: 53px;
  max-height: 53px;
}
