@import "./colors.scss";

.logo {
  max-width: 34px;
  max-height: 34px;
}

.logo-text {
  text-transform: uppercase;
  color: $white;
  font-weight: 600;
  line-height: 30px;
  white-space: nowrap;
  font-size: 1rem;
}
.sidebar {
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  width: 260px;
  left: 0;
  z-index: 999;
  background-color: $sidebar-color;
}

.sidebar-logo {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 15px;
}
.sidebar-logo::after {
  content: "";
  position: absolute;
  bottom: 0;
  top: 4.5em;
  width: calc(100% - 60px);
  height: 1px;
  margin-top: -1px;
  background: $white;
  opacity: 50%;
}
.sidebar-content {
  padding: 15px 25px;
}

.menu-item {
  padding-left: 5px;
  padding-top: 35px;
  display: flex;
  align-items: center;
  gap: 15px;
  color: $white;
  opacity: 50%;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}
.menu-item:hover {
  opacity: 85%;
}

.menu-icon {
  font-size: 24px;
}
.menu-title {
  font-size: 1rem;
  line-height: 30px;
}
