<div class="container">
  <div class="wrapper">
    <div class="wrapper-left" data-aos="zoom-in" data-aos-duration="3000">
      <div>
        <p class="header-text">With us you will</p>
        <h1 class="header-title">SUCCEED</h1>
        <p class="header-text">
          Proactively syndicate open-source e-markets after low-risk high-yield
          synergy. Professionally simplify visionary technology.
        </p>
        <div class="button-wrapper">
          <button class="header-button">READ MORE</button>
        </div>
      </div>
    </div>

    <div class="wrapper-right">
      <img
        [src]="'/assets/img/mobile-1.png'"
        data-aos="fade-left"
        data-aos-duration="3000"
        class="mobile"
      />
    </div>
  </div>
</div>
