<div class="sidebar">
  <div class="sidebar-content">
    <section class="sidebar-logo" routerLink="/">
      <img class="logo" src="../../../assets/knitli-logo-white.png" />
      <h2 class="logo-text">Knitli</h2>
    </section>

    <section class="profile-section">
      <knit-dropdown [title]="'Alex Storm'">
        <img img class="dropdown-img" src="../../../assets/alex-avatar.png" />
      </knit-dropdown>
    </section>

    <div class="pages">
      <section class="menu-item pt-5" routerLink="/">
        <div class="icon">
          <i class="fa-solid fa-spa menu-icon"></i>
        </div>
        <h3 class="menu-title">Dashboard</h3>
      </section>
      <section class="menu-item" (click)="ExpandPages()">
        <i class="fa-solid fa-book-bookmark menu-icon"></i>
        <h3 class="menu-title">Pages</h3>
        <ng-container *ngIf="!pagesExpanded; else Expanded">
          <i class="fa-solid fa-caret-down menu-caret"></i>
        </ng-container>
        <ng-template #Expanded>
          <i class="fa-solid fa-caret-up menu-caret"></i>
        </ng-template>
      </section>
      <section class="menu-item">
        <ng-container *ngIf="pagesExpanded">
          <div class="dropdown-content">
            <div class="dropdown-item" routerLink="/login">
              <span class="dropdown-item-icon">L</span>
              <span class="dropdown-item-title">Login</span>
            </div>
            <div class="dropdown-item" routerLink="/register">
              <span class="dropdown-item-icon">R</span>
              <span class="dropdown-item-title">Register</span>
            </div>
            <div class="dropdown-item" routerLink="/not-found">
              <span class="dropdown-item-icon">PF</span>
              <span class="dropdown-item-title">Page Not Found</span>
            </div>
          </div>
        </ng-container>
      </section>
    </div>
  </div>
</div>
