<div class="sidebar">
  <div class="sidebar-content">
    <section class="sidebar-logo">
      <img class="logo" src="../../../assets/knitli-logo-white.png" />
      <h2 class="logo-text">Knitli</h2>
    </section>

    <section class="profile-section">
      <knit-dropdown [title]="'Alex Storm'">
        <img img class="dropdown-img" src="../../../assets/alex-avatar.png" />
      </knit-dropdown>
    </section>

    <section class="menu-item">
      <i class="fa-solid fa-spa menu-icon"></i>
      <h3 class="menu-title">Dashboard</h3>
    </section>
  </div>
</div>
