<div class="wrapper">
  <div class="about-wrapper">
    <div class="container">
      <div class="right-section">
        <img
          [src]="'/assets/img/mobile-2.png'"
          data-aos="fade-right"
          data-aos-duration="3000"
          data-aos-delay="0"
          class="mobile"
        />
      </div>
      <div class="left-section">
        <div data-aos="zoom-in" data-aos-duration="2000" data-aos-delay="0">
          <h1>Make Business Easy With Us</h1>
          <p>
            Lorem ipsum madolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor coli incidit labore lorem
          </p>
        </div>
        <div class="row" id="about">
          <div
            class="about-box"
            data-aos="zoom-in"
            data-aos-duration="2000"
            data-aos-delay="500"
          >
            <fa-icon [icon]="faRocket" class="icon"></fa-icon>
            <p>
              Intrinsically aggregate cutting-edge internal or "organic" sources
              through pandemic.
            </p>
          </div>
          <div
            class="about-box"
            class="about-box"
            data-aos="zoom-in"
            data-aos-duration="2000"
            data-aos-delay="1000"
          >
            <fa-icon [icon]="faRocket" class="icon"></fa-icon>
            <p>
              Intrinsically aggregate cutting-edge internal or "organic" sources
              through pandemic.
            </p>
          </div>
        </div>
        <div class="row">
          <div
            class="about-box"
            class="about-box"
            data-aos="zoom-in"
            data-aos-duration="2000"
            data-aos-delay="1500"
          >
            <fa-icon [icon]="faRocket" class="icon"></fa-icon>
            <p>
              Intrinsically aggregate cutting-edge internal or "organic" sources
              through pandemic.
            </p>
          </div>
          <div
            class="about-box"
            class="about-box"
            data-aos="zoom-in"
            data-aos-duration="2000"
            data-aos-delay="2000"
          >
            <fa-icon [icon]="faRocket" class="icon"></fa-icon>
            <p>
              Intrinsically aggregate cutting-edge internal or "organic" sources
              through pandemic.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
