<app-sidebar></app-sidebar>
<div class="main-panel">
  <app-header></app-header>
  <div class="wrapper">
    <div class="container">
      <div class="card-header">
        <app-card class="card-item no-shadow" [title]="'Pick your color'">
          <div content class="card-buttons">
            <knit-button [name]="'Default'" class="btn"></knit-button>
            <knit-button
              [name]="'Primary'"
              class="btn btn-primary"
            ></knit-button>
            <knit-button [name]="'Info'" class="btn btn-info"></knit-button>
            <knit-button
              [name]="'Success'"
              class="btn btn-success"
            ></knit-button>
            <knit-button
              [name]="'Warning'"
              class="btn btn-warning"
            ></knit-button>
            <knit-button [name]="'Danger'" class="btn btn-danger"></knit-button>
          </div>

          <div footer></div>
        </app-card>
        <app-card class="card-item no-shadow" [title]="'Buttons with Label'">
          <div content class="card-buttons">
            <knit-button
              [name]="'Info'"
              [icon]="'fa-gear'"
              class="btn btn-info"
            ></knit-button>
            <knit-button
              [name]="'Success'"
              [icon]="'fa-check'"
              class="btn btn-success"
            ></knit-button>
            <knit-button
              [name]="'Warning'"
              [icon]="'fa-magnifying-glass'"
              class="btn btn-warning"
            ></knit-button>
            <knit-button
              [name]="'Danger'"
              [icon]="'fa-xmark'"
              class="btn btn-danger"
            ></knit-button>
            <knit-button
              [name]="'Left'"
              [icon]="'fa-chevron-left'"
              class="btn"
            ></knit-button>
            <knit-button
              [name]="'Right'"
              [icon]="'fa-chevron-right'"
              class="btn"
            ></knit-button>
          </div>
        </app-card>
      </div>
      <div class="card-header">
        <app-card class="card-item no-shadow" [title]="'Pick your Size'">
          <div content class="card-buttons">
            <knit-button
              [name]="'Small'"
              class="btn btn-primary btn-sm"
            ></knit-button>
            <knit-button
              [name]="'Regular'"
              class="btn btn-primary"
            ></knit-button>
            <knit-button
              [name]="'Large'"
              class="btn btn-primary btn-lg"
            ></knit-button>
          </div>
        </app-card>
        <app-card class="card-item no-shadow" [title]="'Pick your Style'">
          <div class="card-buttons" content>
            <knit-button
              [name]="'Default'"
              class="btn btn-primary"
            ></knit-button>
            <knit-button
              [name]="'Round'"
              class="btn btn-primary btn-round"
            ></knit-button>
            <knit-button
              [name]="''"
              [icon]="'fa-heart'"
              class="btn btn-primary btn-round btn-icon"
            ></knit-button>
            <knit-button
              [name]="'With Icon'"
              [icon]="'fa-heart'"
              class="btn btn-outline-primary btn-round"
            ></knit-button>
            <knit-button
              [name]="'Link'"
              class="btn btn-primary btn-link"
            ></knit-button>
          </div>
        </app-card>
      </div>
      <div class="card-header">
        <app-card class="card-item no-shadow" [title]="'Button Group'">
          <div class="card-buttons" content>
            <div class="btn-group">
              <knit-button
                class="btn btn-outline-primary btn-round btn-group-item"
              ></knit-button>
              <knit-button
                class="btn btn-outline-primary btn-group-item"
              ></knit-button>
              <knit-button
                class="btn btn-outline-primary btn-round btn-group-item"
              ></knit-button>
            </div>
          </div>
        </app-card>
      </div>
    </div>
    <h2>Test</h2>
    <div class="card-header">
      <app-card class="card-item" [title]="'Pick your color'">
        <div content class="card-buttons">
          <knit-button [name]="'Default'" class="btn"></knit-button>
          <knit-button [name]="'Primary'" class="btn btn-primary"></knit-button>
          <knit-button [name]="'Info'" class="btn btn-info"></knit-button>
          <knit-button [name]="'Success'" class="btn btn-success"></knit-button>
          <knit-button [name]="'Warning'" class="btn btn-warning"></knit-button>
          <knit-button [name]="'Danger'" class="btn btn-danger"></knit-button>
        </div>

        <div footer></div>
      </app-card>
      <app-card class="card-item"> </app-card>
      <app-card class="card-item"></app-card>
    </div>
  </div>
</div>
